@model ListUserTransactionsViewModel

<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />

<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/custom-style.css" rel="stylesheet" />
<link href="~/css/AllUsers.css?v=1.0" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<br>
<br>
<h2 style="text-align: center;">Your transactions:</h2>

<!-- Flex container to group user details and search forms side by side -->
<div class="user-container-wrapper">
    <form asp-controller="User" asp-action="UserTransactions" method="post">
        @{
            if (Model.TransactionsList.Count() == 0)
            {

                <h2 style="text-align: center; padding-top : 200px;">There are no transactions for the current search.</h2>
            }
        }
        @foreach (var transaction in Model.TransactionsList)
        {
            <div style="width:1000px;" class="container user-container">
                <div class="user-info">
                    <div class="form-title">
                        <h1>Transaction Details</h1>
                        <hr>
                    </div>

                    <div class="form-inputs">
                        <div class="input-box">
                            <p class="control-label">
                                <strong style="font-size:20px; color:black;">Type:</strong> <span style="font-size:15px; color:black;" id="user-username">@transaction.Type</span>
                            </p>
                        </div>

                        <div class="input-box">
                            <p class="control-label">
                                <strong style="font-size:20px; color:black;">Amount:</strong> <span style="font-size:15px; color:black;" id="user-lastname">@transaction.Amount</span>
                            </p>
                        </div>

                        <div class="input-box">
                            <p class="control-label">
                                <strong style="font-size:20px; color:black;">Currency:</strong> <span style="font-size:15px; color:black;" id="user-lastname">@transaction.Currency.ToString()</span>
                            </p>
                        </div>
                       @*  @{
                            if (transaction.Type.ToString() == "Withdraw")
                            {
                                <div class="input-box">
                                    <p class="control-label">
                                        <strong style="font-size:20px; color:black;">To:</strong> <span style="font-size:15px; color:black;" id="user-username">@transaction.Sender.Username</span>
                                    </p>
                                </div>
                            }
                            else if (transaction.Type.ToString() == "Add")
                            {
                                <div class="input-box">
                                    <p class="control-label">
                                        <strong style="font-size:20px; color:black;">From:</strong> <span style="font-size:15px; color:black;" id="user-phonenumber">@transaction.Recipient.Username</span>
                                    </p>
                                </div>
                            }
                        } *@

                        
                        <div class="input-box">
                            <p class="control-label">
                                <strong style="font-size:20px; color:black;">Time of transaction: </strong> <span style="font-size:15px; color:black;" id="user-phonenumber">@transaction.Timestamp.ToString()</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>
        }

        <ul class="pagination">
            @for (int i = 1; i <= Model.pageCount; i++)
            {
                <li class="page-item">
                    @if (i != Model.currentPageIndex)
                    {
                        <a class="page-link" href="javascript:PagerClick(@(i))">@i</a>
                    }
                    else
                    {
                        <a class="page-link active">@i</a>
                    }
                </li>
            }
        </ul>
        <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" value="1" />
    </form>

    <!-- Search forms section next to user details -->
    <div class="search-forms">
        
        <form asp-controller="User" asp-action="UserSearchTransactionByRecipient" method="post" class="form-group">
            <div class="search-container">
                <label>Search by recipient:</label>
                <input type="text" name="text" class="input-field" placeholder="Recipient" />
                <button type="submit" class="input-submit">Search</button>
            </div>
        </form>

        <form asp-controller="User" asp-action="UserSearchTransactionByType" method="post" class="form-group">
            <div class="search-container">
                <label>Search by Type:</label>
                <select id="transferType" name="text" class="form-control">
                    <option value="-">-</option>
                    <option value="Add">Add</option>
                    <option value="Withdraw">Withdraw</option>
                </select>
                <button type="submit" class="input-submit">Search</button>
            </div>
        </form>

        <form asp-controller="User" asp-action="UserSortByDate" method="post" class="form-group">
            <div class="search-container">
                <label>Sort by date:</label>
                <select id="transferType" name="text" class="form-control">
                    <option value="Oldest">Oldest</option>
                    <option value="Newest">Newest</option>
                </select>
                <button type="submit" class="input-submit">Search</button>
            </div>
        </form>

        <form asp-controller="User" asp-action="UserSortByAmount" method="post" class="form-group">
            <div class="search-container">
                <label>Sort by amount:</label>
                <select id="transferType" name="text" class="form-control">
                    <option value="High">High</option>
                    <option value="Low">Low</option>
                </select>
                <button type="submit" class="input-submit">Search</button>
            </div>
        </form>
        @{}
        <div class="search-container">
            <label>Serch by date:</label>
            @using (Html.BeginForm("UserGetDateToDate", "User", FormMethod.Post))
            {
                <label for="startDate">From:</label>
                <input type="text" id="startDate" name="startDate" />
                <br>
                <br>
                <label for="endDate">To: &nbsp; &nbsp;</label>
                <input type="text" id="endDate" name="endDate" />
                <br>
                <br>
                <button type="submit" class="input-submit">Search</button>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(function () {
        $("#startDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#endDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>
