@model UserViewModel


<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/UserDetails.css" rel="stylesheet">

<br>
<br>
<br>
<br>
<br>

<div class="user-container-wrapper">
    <div class="user-container">
        <!-- User Image Centered at the Top -->
        <div class="user-image">
            <p style="text-align: center; font-size: 20px;"><strong>Profile photo:</strong></p>
            <img src="@Model.Image" alt="User Image" class="image-style" />
        </div>

        <!-- User Details Section -->
        <div class="user-info">
            <h1>Profile details:</h1>
            <hr>
            <p style="margin-bottom: 10px; font-size: 20px; "><strong>Username:</strong> <span id="user-username">@Model.Username</span></p>
            <p style="margin-bottom: 10px; font-size: 20px; "><strong>Email:</strong> <span id="user-email">@Model.Email</span></p>
            <p style="margin-bottom: 10px; font-size: 20px; "><strong>Phone Number:</strong> <span id="user-phonenumber">@Model.PhoneNumber</span></p>
            <p style="margin-bottom: 10px; font-size: 20px; "><strong>Role:</strong> <span id="user-role">@Model.Role</span></p>
            @{
                if (Model.IsBlocked == false )
                {
                    <p style="margin-bottom: 10px; font-size: 20px; "><strong>User Status:</strong> <span id="user-isblocked">Active</span></p>
                }
                else
                {
                    <p style="margin-bottom: 10px; font-size: 20px; "><strong>User Status:</strong> <span id="user-isblocked">Blocked</span></p>
                }
            }
            <p style="margin-bottom: 10px; font-size: 20px; "><strong>Wallets:</strong> <span id="user-cardscount">@Model.Wallets.Count()</span></p>
            <p style="margin-bottom: 10px; font-size: 20px; "><strong>Registrated cards:</strong> <span id="user-cardscount">@Model.Cards.Count()</span></p>

            <!-- Buttons for Edit, Verify, Block/Unblock Actions -->
            <div class="button-group">
                <a class="btn" asp-controller="User" asp-action="Edit" asp-route-username="@Model.Username">Edit</a>

                @if (Model.AdminVerified == false)
                {
                    <a class="btn" asp-controller="User" asp-action="UploadPhotosVerification" asp-route-username="@Model.Username">Verify</a>
                }

                @if (Model.IsAdmin == true)
                {
                    @if (@Model.IsBlocked == false)
                    {
                        <a class="btn" asp-controller="User" asp-action="BlockUser" asp-route-username="@Model.Username">Block</a>
                    }
                    else
                    {
                        <a class="btn" asp-controller="User" asp-action="UnblockUser" asp-route-username="@Model.Username">Unblock</a>
                    }
                }
            </div>
        </div>
    </div>
</div>

<br><br><br>
